## Benchmark Files
Benchmark/
Datasets/

## Checkpoints
checkpoints/

## Lightning Logs
lightning_logs/

## Wandb
wandb/

## Logs
logs/

## Playground Files
playground_inputs.json
playground_outputs.json

## Visualization
latent_vis/

## Pychache
__pycache__/


## TestResult
test.csv